main {
    position: relative;
    margin-top: var(--header-height);

    height: calc(100vh - var(--header-height));
    width: 100%;

    font-family: Racing Sans One,Arial, Helvetica, sans-serif;
    background:rgba(255,255,255,0.025) url(/img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#event {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr;
    height: 80%;
    width: 80%;

    margin: 30px auto 0;

    grid-gap: 20px;
}


#event-header {
    grid-column: 1/3;
    grid-row: 1/2;
}
#event-header > .title {
    position: relative;
    top: 15%;
    text-align: center;
}

#event .container {
    position: relative;
    background-color:rgba(0,0,0, 0.2);
    border-radius: 20px;
    padding: 20px;
}
#event-body{
    font-size: 1.5em;
    grid-column: 1/2;
    grid-row: 2/3;
}

.ajax-form {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.ajax-form > input[type=submit] {
    height: 100%;
    font-size: 1.2em;
    color: white;
    border-radius: 1em;
    background: orange;
    border: none;

    padding: 5px 20px;
}
.ajax-form > input[type=submit]:hover:not([disabled]) {
    box-shadow: 0 0 5px 0 darkorange;
    outline: none;
    transform: scale(1.1);
}
.ajax-form > input[type=submit][disabled]{
    background: #626262;
}